[user]
	name = Jjuchara
	email = jjuchara@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = master
[pull]
	rebase = false
[core]
	editor = lvim
	excludesfile = /Users/jjuchara/.gitignore_global
	autocrlf = input
[github]
	user = jjuchara
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[interactive]
	diffFilter = delta --color-only
[color]
	ui = true
[diff]
	colorMoved = default
[delta]
	navigate = true
	line-numbers = true
[merge]
	conflictstyle = diff3
	tool = vimdiff
[mergetool]
	path = nvim
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
