[user]
	name = jjuchara
	email = jjuchara@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = master
[pull]
	rebase = false
[core]
	excludesfile = /Users/jjuchara/.gitignore_global
[github]
	user = jjuchara
